.nav-ul li{
display: inline-block;
padding: 10px;
}
.nav-ul{
 background-color: skyblue;
}
.nav-ul li a{
  color: white;
  padding: 5px;
  text-decoration: none;
}
.footer{
  position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: skyblue;
}





