.nav-ul li{
display: inline-block;
padding: 10px;
}
.nav-ul{
 background-color: skyblue;
}
.nav-ul li a{
  color: white;
  padding: 5px;
  text-decoration: none;
}
.footer{
   
  background-color: skyblue;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.login{
  margin-left: 40%;
  margin-top: 100px;
}
.inputbox{
    display: block;
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid skyblue;
}
.nav-right{
  text-align: right;
}
.logoi{
  height: 41px;
  float: left;
  margin-left: 3px;
 
}
.product-card {
  border: 1px solid #ddd;
  padding: 16px;
  margin-top: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.product-card h2 {
  margin: 0;
  font-size: 24px;
}

.product-card p {
  margin: 4px 0;
}


.register ,.product{

  margin-left: 40%;
}

.btn{
  background-color: skyblue;
  border-color: skyblue;
  border-radius: 10%;
  margin-left: 10px;
}

.profilepic img {
  width: 300px;
  height: 500px;
}

.img{
  padding: 20px;
  border-radius: 50px;
  height: max-content;
  width: max-content;
}
.containerp{
  display: flex;
}

.product-list{
  text-align: center;
  margin-top: 50px;

}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
  height: 35px;
}